.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1531944252668-83d381a30b26?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    no-repeat center center fixed;
  background-size: cover;
}

.login-form {
  background: rgba(255, 255, 255, 0.6);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: 450px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 30px;
  font-size: 2em;
}

.input-group {
  margin-bottom: 25px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1em;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.remember-me input {
  margin-right: 10px;
}

button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #525252;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-footer a {
  color: #333;
  text-decoration: none;
  font-size: 1em;
}

.form-footer a:hover {
  text-decoration: underline;
}
