*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 70vw;
    margin: 4em auto;

}

.container div{
    border: 1px dashed grey;
    padding: 1em 2em 2em 2em;
}

.margin{
    background-color: coral;
}
.margin::before{
    display: block;
    content: 'margin';
}

.border{
    background-color: wheat;
}
.border::before{
    display: block;
    content: 'border';
}

.padding{
    background-color: lightgreen;
}

.padding::before{
    display: block;
    content: 'padding';
}

.content{
    background-color: lightblue;
    text-align: center;
}