*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    border: 2px solid green;
}

.main-container .containers {
    border: 2px solid black;
    padding: 2em;
    margin: 2em;
}

.containers div{
    border: 2px solid blue;
    padding: 2em;
}

