<div class="register-container">
  <div class="register-form">
    <h2>Register</h2>
    <form>
      <div class="input-group">
        <label for="username"> <i class="fas fa-user"></i> Username </label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Enter your name"
          required
        />
      </div>
      <div class="input-group">
        <label for="email"> <i class="fas fa-envelope"></i> Email </label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          required
        />
      </div>
      <div class="input-group">
        <label for="register-password">
          <i class="fas fa-lock"></i> Password
        </label>
        <input
          type="password"
          id="register-password"
          name="password"
          placeholder="Enter your password"
          required
        />
      </div>
      <div class="input-group">
        <label for="confirm-password">
          <i class="fas fa-lock"></i> Confirm Password
        </label>
        <input
          type="password"
          name="confirm-password"
          id="confirm-password"
          placeholder="Confirm your password"
          required
        />
      </div>
      <button type="submit">Register</button>
      <div class="form-footer">
        <a href="/login">Already have an account? Login</a>
      </div>
    </form>
  </div>
</div>
