*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 25%;
    height: 450px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 1em rgba(0,0,0,0.2);
    border-style: hidden;
    overflow: hidden;
    margin: 4em auto;   
}

.img-container{
    width: 100%;
    height: 45%;
    background-image: url("/images/image1.jpg");
    background-size: cover;
}

.text-container{
    padding-inline: 1.5em;
    overflow: hidden;
}

.text-container h1{
    margin:1em 0 0.5em 0   ;
}

.text-container a{
    display: block;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
