<div class="catalog-container">
  <div class="photo-card">
    <img src="camera.jpg" class="photo-image" />
    <div class="photo-overlay">
      <h3>Adsadas</h3>
      <p>adasdasdasd</p>
    </div>
  </div>
  <div class="photo-card">
    <img src="camera.jpg" class="photo-image" />
    <div class="photo-overlay">
      <h3>Adsadas</h3>
      <p>adasdasdasd</p>
    </div>
  </div>
  <div class="photo-card">
    <img src="camera.jpg" class="photo-image" />
    <div class="photo-overlay">
      <h3>Adsadas</h3>
      <p>adasdasdasd</p>
    </div>
  </div>
  <div class="photo-card">
    <img src="camera.jpg" class="photo-image" />
    <div class="photo-overlay">
      <h3>Adsadas</h3>
      <p>adasdasdasd</p>
    </div>
  </div>
  <div class="photo-card">
    <img src="camera.jpg" class="photo-image" />
    <div class="photo-overlay">
      <h3>Adsadas</h3>
      <p>adasdasdasd</p>
    </div>
  </div>
</div>
