@if (isLoading) {
<app-loader></app-loader>
}@else {
<div class="photo-card-container">
  <div class="photo-card">
    <div class="photo-image-wrapper">
      <img [src]="photo?.image" alt="{{ photo?.name }}" class="photo-image" />
    </div>
    <div class="photo-content">
      <h2 class="photo-title">{{ photo?.name }}</h2>
      <p class="photo-description">{{ photo?.description }}</p>
      <div class="photo-details">
        <p><strong>Location:</strong> {{ photo?.location }}</p>
        <p><strong>Published On:</strong> {{ photo?.date }}</p>
        <p><strong>Author:</strong> {{ photo?.author }}</p>
        <p><strong>Device:</strong> {{ photo?.device }}</p>
      </div>
      @if (photo?.author === currentUserEmail) {
        <div class="buttons">
          <button  routerLink="/explore/{{photo?._id}}/details/edit" class="edit-btn">Edit</button>
          <button class="delete-btn" (click)="deletePhoto(photo?._id)">Delete</button>

        </div>
      }
    </div>
  </div>
</div>

}
