@if (isLoading) {
  <app-loader></app-loader>
}@else {
  <div class="photo-card">
    <div class="photo-image">
      <img src="{{ photo.image }}" alt="{{ photo.name }}" />
    </div>
    <div class="photo-details">
      <h2 class="photo-name">{{ photo.name }}</h2>
      <p class="photo-description">{{ photo.description }}</p>
      <div class="photo-metadata">
        <p><strong>Date:</strong> {{ photo.date }}</p>
        <p><strong>Location:</strong> {{ photo.location }}</p>
        <p><strong>Device:</strong> {{ photo.device }}</p>
        <p><strong>Owner:</strong> {{ photo.owner }}</p>
      </div>
    </div>
  </div>
  
}




  

  
