*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    border: 2px solid green;
}

.border{
    width: 80%;
    border: 2px solid blue;
    margin: 1.5em auto;
}

.border div{
    border: 2px solid black;
    padding: 2em;
    margin: 2em;
    text-align: center;
}